*, *::after, *::before {
  box-sizing: border-box;
}

.title {
  display: -webkit-flex;
	display: -ms-flex;
	display: flex;

  -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

  margin: 0rem 2rem;
}
