body{
  /* background-color:#DDDCE2; */
}

.container{
  background-color: white;
}


h1 {
  font-family: 'Dosis', sans-serif;
  color: #17544C;
  font-weight: 600;
}

h2 {
  font-family: 'Dosis', sans-serif;
  color: #28AF7A;
  font-weight: 500;
  margin: 0.75rem 0rem;
  font-size: 1.50rem;
  max-width:100%;
}

h3 {
  font-family: 'Dosis', sans-serif;
  color: #28AF7A;
  font-weight: 400;
  margin: 0.75rem 0rem;
  font-size: 1.25rem;
}

p, ol, ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-left:0;
  font-size: 1rem;
}

ol, ul {
  margin: 0.5rem 1.5rem;
}


/* In-Text Links*/

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #71B9C1;
  transition: color 0.5s;
}

a:active, a:hover, a:focus {
  color: #2A2A2A;
}

footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.75rem;
}



/* NAVIGATION BAR */

nav {
  width: 100%;
}
nav ul {
  list-style: none;
}

nav li {
  margin: 1rem 1.5rem;
}

.nav-logo{
  margin-right:auto;
}

.nav-logo-item{
  max-width: 100%;
  margin: 0.5rem 2.5rem;
  margin-left: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #2CA675;
}

.nav-item {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
  padding-top: 0.50rem;
  color: #2CA675;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.nav-item:hover, .nav-item:focus{
  color: #2A2A2A;

}

.nav-1st-item{
  margin-left:auto;
}


.nav-selected, .nav-selected:hover, .nav-selected:focus{
  color: #2A2A2A;
  font-weight: 600;
}

/* Banner Images */
.banner img{
  max-width: 100%;
}

/*MAIN PAGE*/
.box-content {
  max-width: 100%;
  /*margin: 1rem 2rem;*/
}

.box-content h2 {
  text-align: left;
}


.block {
  display: inline-block;
  max-width:100%;
  margin:0 1rem;
  /*width: 33%*/
}

.main-blocks-content{
  max-width:100%;
}

/* Buttons for index.html box-content links */
.box-link {
  display: inline-block;
  color: #62D006;
  background-color: #FFF;
  border-radius: 5px;
  margin: 0.5rem 0rem;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #FFF;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}
.box-link:hover, .box-link:focus {
  background-color: #62D006;
  border-color: #62D006;
  color:#fff;
}


/**/
.post {
  display: inline-block;
  width: 100%;
  margin: 2.5rem 0;
}

.update-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.post-text {
  text-align: center;
  margin: 1rem 2.5rem;
  padding: 0 2rem;
}



/* Secondary button */
.secondary-button {
  display: inline-block;
  color: #62D006;
  background-color: #FFF;
  border-radius: 5px;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #FFF;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: #62D006;
  border-color: #62D006;
  color:#fff;
}

/*PRODUCT*/
.product{
  border: 2px solid #DBDBDB;
  padding: 1rem;
  margin-top:0.5rem;
  border-radius: 1em;
  max-width:100%;
}

.product-small-item{
  border: 2px solid #DBDBDB;
  background: #FFFFFF;
  padding: 1rem;
  margin-top:0.5rem;
  border-radius: 1em;
  max-width:100%;
}



/*apply buttons*/
.normal-button {
  display: inline-block;
  color: #2CA675;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #2CA675;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.normal-button:hover, .normal-button:focus {
  background-color: #2CA675;
  border-color: #2CA675;
  color:#fff;
}

.apply-button {
  display: inline-block;
  color: #FFF;
  background-color: #71B9C1;
  border-radius: 15px;
  padding: 0.50em 1rem;
  border-style:solid;
  border-width:thin;
  border-color: #71B9C1;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.apply-para-button{
  display: inline-block;
  color: #FFF;
  background-color: #71B9C1;
  border-radius: 15px;
  padding: 0.50em 1rem;
  border-style:solid;
  border-width:thin;
  border-color: #71B9C1;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.apply-button:hover, .apply-button:focus {
  background-color: #fff;
  border-color: #71B9C1;
  color:#71B9C1;
}

.apply-para-button:hover, .apply-para-button:focus {
  background-color: #fff;
  border-color: #71B9C1;
  color:#71B9C1;
}

label {
  padding-right: 0.5rem;
}

form {
  font-family: 'Open Sans', sans-serif;
  display: block;
}

input[type=text] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0.75rem 0;
  padding: 7px 7px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;

}

@media(min-width:56.25em){

  /*RESPONSIVE FORM*/
    input[type= text] {
      width: 40%;
    }

}

input[type=radio] {
  font-family: 'Open Sans', sans-serif;
  margin: 0.75rem;
  border: 1px solid #DBDBDB;
}

/* SUBMIT BUTTON */
.submit-button {
  display: inline-block;
  color: #FFF;
  background-color: #0F4F46;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #0F4F46;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.submit-button:active, .submit-button:hover, .submit-button:focus {
  background-color: #fff;
  border-color: #0F4F46;
  color:#0F4F46;
}


.apply-today {
  margin-top: 2.5rem;
}
