h1{
  font-family: 'Paytone One', sans-serif;
  color: #62D006;
}

h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin: 0.75rem 0rem;
  font-size: 1.50rem;
  color: #62D006;
}

h3 {
  margin: 0.75rem 0rem;
  font-size: 1.25rem;
}

p, ol, ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  max-width: 60rem;
  font-size: 0.90rem;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #62D006;
}

/* NAVIGATION BAR */

/*
.nav {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 1.5rem;
  margin-top: 0.5rem;
}
*/

.nav-logo {
  float: left;
  margin: 0.5rem 2.5rem;
  margin-left: 0;
  font-family: 'Paytone One', sans-serif;
  font-size: 1.75rem;
  color: #62D006;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0.5rem 2.5rem;
}

.nav-item {
  display: inline-block;
  padding-top: 0.75rem;
  color: #62D006;
  font-size: 1rem;

}

.banner {
}

/*MAIN PAGE*/
.box-content {
  max-width: 100%;
  /*margin: 1rem 2rem;*/
}

.block {
  display: inline-block;
  max-width:100%;
  margin:0 1rem;
  /*width: 33%*/
}

.main-blocks-content{
  max-width:100%;
}
