body{
  background-color:#DDDCE2;
}

.container{
  background-color:white;
}


h1 {
  font-family: 'Dosis', sans-serif;
  color: #62D006;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: 'Dosis', sans-serif;
  color: #62D006;
  font-weight: 500;
  margin: 0.75rem 0rem;
  font-size: 1.50rem;
  max-width:100%;
}

h3 {
  font-family: 'Dosis', sans-serif;
  color: #2D2D2D;
  font-weight: 400;
  margin: 0.75rem 0rem;
  font-size: 1.25rem;
}

p, ol, ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-left:0;
  font-size: 0.90rem;
}

ol, ul {
  margin: 0.5rem 1.5rem;
}


/* In-Text Links*/

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #62D006;
  transition: color 0.5s;
}

a:active, a:hover, a:focus {
  color: #04A05D;
}

footer {
  margin: 4rem 0rem;
  text-align: center;
  font-size: 0.75rem;
}


/* NAVIGATION BAR */

nav {
  width: 100%;
}
nav ul {
  list-style: none;
}

nav li {
  margin: 1rem 1.5rem;
}

.nav-logo{
  margin-right:auto;
}

.nav-logo-item{
  max-width: 100%;
  margin: 0.5rem 2.5rem;
  margin-left: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #62D006;
}

.nav-item {
  display: inline-block;
  font-size: 1rem;
  text-align: right;
  padding-top: 0.50rem;
  color: #62D006;
}

.nav-1st-item{
  margin-left:auto;
}


.banner img{
  max-width:100%;
}

/*MAIN PAGE*/
.box-content {
  max-width: 100%;
  /*margin: 1rem 2rem;*/
}

.box-content h2 {
  text-align: left;
}


.block {
  display: inline-block;
  max-width:100%;
  margin:0 1rem;
  /*width: 33%*/
}

.main-blocks-content{
  max-width:100%;
}

/* Buttons for index.html box-content links */
.box-link {
  display: inline-block;
  color: #62D006;
  background-color: #FFF;
  border-radius: 5px;
  margin: 0.5rem 0rem;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #FFF
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}
.box-link:hover, .box-link:focus {
  background-color: #62D006;
  border-color: #62D006;
  color:#fff;
}

/* Secondary button */
.secondary-button {
  display: inline-block;
  color: #62D006;
  background-color: #FFF;
  border-radius: 5px;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #FFF
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: #62D006;
  border-color: #62D006;
  color:#fff;
}

/*PRODUCT*/
.product{
  border: 2px solid #DBDBDB;
  padding: 1rem;
  margin-top:0.5rem;
  border-radius: 1em;
  max-width:100%;
}

.product-small-item{
  border: 2px solid #DBDBDB;
  background: #FFFFFF;
  padding: 1rem;
  margin-top:0.5rem;
  border-radius: 1em;
  max-width:100%;
}



/*apply buttons*/
.normal-button {
  display: inline-block;
  color: #FFF;
  background-color: #04A05D;
  border-radius: 5px;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #04A05D;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.normal-button:hover, .normal-button:focus {
  background-color: #62D006;
  border-color: #62D006;
  color:#fff;
}

.apply-button{
}

label {
  padding-right: 0.5rem;
}

form {
  font-family: 'Open Sans', sans-serif;
  display: block;
}

input[type=text] {
  font-family: 'Open Sans', sans-serif;
  width: 30%;
  margin: 0.75rem 0;
  padding: 7px 7px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}

input[type=radio] {
  font-family: 'Open Sans', sans-serif;
  margin: 0.75rem;
  border: 1px solid #DBDBDB;
}

/* SUBMIT BUTTON */
.submit-button {
  display: inline-block;
  color: #FFF;
  background-color: #04A05D;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color: #04A05D;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.submit-button:active, .submit-button:hover, .submit-button:focus {
  background-color: #62D006;
  border-color: #62D006;
  color:#fff;
}


.apply-today {
  margin-top: 2.5rem;
}
