body {
  color: #2D2D2D;
}

#interactive, #styling, #combined {
  border-top: 0.15em solid #DBDBDB;
  margin: 1.5rem 0rem;
}

.element {
  border-top: 0.05em dashed #DADADA;
  margin: 1rem 0rem;
}

h1{
  font-family: 'Paytone One', sans-serif;
  color: #62D006;
}

h2, h3, h4, p{
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin: 0.75rem 0rem;
  font-size: 1.50rem;
  color: #62D006;
}

h3 {
  margin: 0.75rem 0rem;
  font-size: 1.25rem;
}

h4 {
  margin: 0.75rem 0rem;
  font-weight: 300;
  font-size: 1rem;
}

p, ol, ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  max-width: 60rem;
  font-size: 0.90rem;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #2EBE80;
  transition: color 0.5s;
}

a:active, a:hover, a:focus {
  color: #04A05D;
}

header {
  margin-bottom: 2rem;
}
/* Style Guide Code */
pre {
  display: block;
  white-space: pre-wrap;
}

code {
  background-color: #DADADA;
  padding: 1rem;
  display: block;
  max-width: 75%;
}

/* index.html Nav Buttons*/
nav {
  margin: 1rem 0rem;
}

nav a {
  text-decoration: none;
  color: #2EBE80;
  transition: color 0.5s;
  display: block;
}

nav a:active, a:hover, a:focus {
  color: #04A05D;
}

/*--elements---*/

/*NAV BUTTON*/
.nav-button {
  display: inline-block;
  padding: 1rem 1rem;
  color: #FFF;
  background-color: #04A05D;
  border-radius: 0.5em;
  border-style:solid;
  border-width:thin;
  border-color:#ffffff;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.nav-button:hover, .nav-button:focus {
  background-color: #ffffff;
  color:#62D006;
  border-color:#62D006;
}

/* Forms & Input */
form {
  display: block;
  margin: 1rem;
}

label {
  padding-right: 0.5rem;
}

input[type=text] {
  font-family: 'Open Sans', sans-serif;
  width: 30%;
  margin-top: 0.5rem;
  padding: 7px 7px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}

/*SUBMIT BUTTON*/
.submit-button {
  display: inline-block;
  color: #FFF;
  background-color: #04A05D;
  border-radius: 5px;
  padding: 0.50em;
  border-style:solid;
  border-width:thin;
  border-color:#ffffff;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.submit-button:active, .submit-button:hover, .submit-button:focus {
  background-color: #ffffff;
  color:#62D006;
  border-color:#62D006;
}

/*RESET BUTTON*/
.reset-button {
  display: inline-block;
  color: #62D006;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5em;
  border-style:solid;
  border-width:thin;
  border-color:#62D006;
  text-decoration: none;
  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.reset-button:active, .reset-button:hover, .reset-button:focus {
  background-color: #62D006;
  color:#fff;
  border-color:#fff;
}
